<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Noteguard - A simple note-taking app with password protection and expiration date. Developed by YourS4nty.">
    <meta name="keywords" content="note app, password protection, expiration date, YourS4nty, portfolio">
    <meta name="author" content="YourS4nty">
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" href="../media/NoteGuard.ico" type="image/x-icon">
    <title>Welcome You &lt;3</title>
</head>

<body>
    <div class="container">
        <% if (error) { %>
            <p style="color: red;">
                <%= error %>
            </p>
            <% } else if (success) { %>
                <p style="color: green;">
                    <%= success %>
                </p>
                <% } %>

                    <h2>Create a New Note</h2>
                    <form action="/createNote" method="post">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" required>
                        <br>
                        <label for="content">Content:</label>
                        <textarea id="content" name="content" required></textarea>
                        <br>
                        <label for="expirationDate">Expiration Date:</label>
                        <input type="date" id="expirationDate" name="expirationDate" required>
                        <br>
                        <label for="password">Password (optional):</label>
                        <input type="password" id="password" name="password">
                        <br>
                        <button type="submit">Create Note</button>
                    </form>
                    <a class="button" href="/viewById">View Existing Notes</a>
    </div>
    <footer>
        <p style="color: #fffffe;">Made with <span style="color: red;">&lt;3</span> By <a
                style="color: darkcyan;text-decoration: none;" href="https://Your4Portfolio.vercel.app">YourS4nty</a>
        </p>
    </footer>
</body>

<script>
    function submitForm() {
        var noteId = document.getElementById("noteId").value;
        document.getElementById("viewNoteForm").action = "/note/" + noteId;
        document.getElementById("viewNoteForm").submit();
    }
</script>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #161616;
        color: #fffffe;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .container {
        width: 60%;
        height: 90%;
        padding: 20px;
        background-color: #242629;
        overflow: auto;
        position: relative;
    }

    h2 {
        margin: 10px 0;
    }

    hr {
        margin: 20px 0;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: #94a1b2;
    }

    input,
    textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: none;
        border-radius: 4px;
        outline: none;
        box-sizing: border-box;
        background-color: #16161a;
        color: #fffffe;
    }

    textarea {
        resize: none;
        min-height: 200px;
    }

    input[type="datetime-local"] {
        color: #fff;
        padding: 8px;
        margin-bottom: 10px;
        border: none;
        border-radius: 4px;
        outline: none;
        box-sizing: border-box;
        background-color: #16161a;
        cursor: pointer;
    }


    button {
        background-color: #7f5af0;
        color: #fffffe;
        font-weight: 535;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }

    .button {
        background-color: #7f5af0;
        color: #fffffe;
        font-weight: 535;
        font-size: small;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        left: 2%;
        bottom: 3%;
        transition: background-color 0.2s ease-in-out;
        text-decoration: none;
    }

    .button:hover,
    button:hover {
        background-color: #6246b7;
        color: #fffffe;
    }

    footer {
        position: fixed;
        bottom: 4%;
        right: 0;
        background-color: #242629;
        border-radius: 10px 0 0 10px;
        padding: 10px 20px;
    }

    @media (max-width: 700px) {
        .container {
            width: 90%;
            height: 95%;
            position: relative;
        }

        textarea {
            min-height: 369px;
        }

        .button{
            position: absolute;
            right: 2%;
            left: auto;
            bottom: 2%x;
            width: 150px;
            text-align: center;
        }

        .footer {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 50%;
            transform: translate(-50%);
        }
    }
</style>

</html>
